@font-face {
    font-family: 'minecraft';
    src: url('./Minecraft.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html{
    font-size: 140%;
}
input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

#carta-porra{
    border-style: solid;
    border-color: black;
    width: 700px;
    height: 900px;
    border-radius: 2px;
}

hr{
    width: 20em;
}

label{
    width: 20em;
    
}

textarea, button{
    resize: none;
    width: 20em;
    box-sizing: border-box;
}
textarea{
    height: 1.7em;
}
input{
    width: 3em;
}
select{
    width: 4em;
}


#pais{
    width: 3em;
}

.cont{
    display: flex;
    align-items: flex-start;
}
.cont2{
    width: auto;
    display: grid;
    justify-items: start;
    align-items: start;

}
.cont3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.cont2 > *{
    margin: 0.67em;
}

.cont4{
    display: grid;
    grid-template-columns: repeat(3, 4em);
    grid-auto-rows: min-content;
    gap: 2em;
}